/* Reset css */
* {
    margin: 0;
    /* Remove margens */
    border: 0;
    /* Remove bordas */
    padding: 0;
    /* Remove preenchimentos */
}

h1 {
    font-family: 'Rubik', sans-serif;

}

h2 {
    font-family: 'Playfair Display', serif;


}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

li {
    font-size: 20px;
}

.content {
    margin-top: 100PX;
    overflow: hidden;
    /* Limpa a flutuação */
}

.cult {
    margin-top: 130PX;
    margin-bottom: 20px;

}

.img-small {
    width: 35.5%;
    /* Defina a largura desejada */
    height: auto;
    /* Para manter a proporção da imagem */
    float: left;
    /* Ou float: right; dependendo do lado que você deseja flutuar */
    margin-right: 20px;
    /* Margem direita para separar a imagem do texto */
    border-radius: 10px;
    /* Arredonda as bordas da imagem */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* Adiciona uma sombra à imagem */
    margin-left: 50px;
}


/* Layout */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    /* Adiciona uma margem de 20px ao redor do contêiner */
}

.Flex {
    display: flex;
    /* Cria um layout flexível */
    justify-content: space-between;
    /* Distribui os itens igualmente ao longo do eixo principal */
}


.footer {
    margin-top: 40px;
    /* Adiciona margem acima do footer */
    padding: 20px;
    /* Adiciona algum preenchimento interno para espaçamento */
    text-align: center;
    /* Alinha o texto ao centro dentro do footer, se necessário */
    background: linear-gradient(90deg, rgb(10, 14, 12) 17%, rgb(95, 100, 96) 54%, rgba(173, 187, 180, 0.999) 100%) ;
}

#topo {
    position: fixed;
    /* Define a posição fixa */
    right: 10px;
    /* Distância do lado direito */
    bottom: 10px;
    /* Distância da parte inferior */
}

.galeria {
    display: flex;
    /* Cria um layout flexível */
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha */
    justify-content: center;
    /* Alinha os itens ao centro */
    
}

.card {
    width: 200px !important;
    /* Largura fixa dos cartões */
    margin: 10px;
    /* Margem ao redor dos cartões */
    text-align: center;
    /* Alinhamento de texto ao centro */
}

.card img {
    width: 100%;
    /* Largura da imagem */
    height: auto;
    /* Altura automática */
    border-radius: 10px;
    /* Borda arredondada */
    cursor: pointer;
    /* Altera o cursor para indicar que a imagem é clicável */
}

.card h3 {
    margin-top: 10px;
    /* Margem superior */
    text-align: center;
    /* Alinhamento de texto ao centro */
    font-size: 16px;
    /* Tamanho da fonte */
}

.new-card {
    width: calc(25% - 20px);
    /* Largura dos cards (25% da largura do container menos a margem) */
    margin: 10px auto;
    /* Margem automática na parte superior e inferior e centralizada nas laterais */
    background-color: #ffffff;
    /* Cor de fundo do card */
    border-radius: 10px;
    /* Borda arredondada */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* Sombra do card */
    overflow: hidden;
    /* Esconde o conteúdo que ultrapassa os limites do card */
    display: inline-block;
    /* Exibe os cards em linha */
}


.new-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.new-card-text {
    padding: 10px;
    /* Preenchimento interno */
    text-align: center;
    /* Alinhamento de texto ao centro */
}

.new-card-text h2 {
    margin-bottom: 10px;
    /* Margem inferior do título */
}

.new-card-text p {
    margin-bottom: 0;
    /* Remove a margem inferior do parágrafo */
}

.btn-saiba-mais {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    /* Margem superior */
}

.btn-saiba-mais:hover {
    background-color: #0056b3;
}

/* estilo video */
.video-section {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}

.video-container {
    margin-left: 60px;
    margin-right: 20px;
    overflow: hidden;
    width: 50%;
    /* Definindo a largura do vídeo */
}

.video-container iframe {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.text-container {
    flex: 1;
    margin-top: 20px;
}

/* Cabeçalho */
header {
    height: 70px;
    /* Ajuste a altura conforme necessário */
    padding-top: 30px;
    /* Adiciona espaço acima do botão */
    position: fixed;
    margin-bottom: 10px;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgb(10, 14, 12) 17%, rgb(95, 100, 96) 54%, rgba(173, 187, 180, 0.999) 100%);
}


body {
    background-color: #8FBC8F
}

#check {
    display: none;
}

label {
    font-size: 3em;
    position: fixed;
    top: 15px;
    /* Ajusta a distância do topo conforme necessário */
    right: 15px;
    color: rgba(11, 10, 10, 0.5);
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    margin-left: 5px;
}



nav ul {
    list-style: none;
    /* Remove os marcadores de lista */
    background: linear-gradient(to bottom, #ffffff, #426046);

    /* Cor de fundo */
    height: 100vh;
    /* Altura igual à altura da viewport */
    position: fixed;
    /* Define a posição fixa */
    top: 100px;
    /* Distância do topo */
    right: -65%;
    /* Posiciona para fora da tela */
    width: 25%;
    /* Largura */
    transition: all 0.2s;
    /* Efeito de transição */
}

#check:checked~ul {
    right: 0;
    /* Mostra o menu ao ser clicado */
}

nav ul li {
    padding: 20px;
    /* Preenchimento interno */
    border-bottom: 1px solid #a9a9a9;
    /* Borda inferior */
    text-align: right;
    /* Alinhamento de texto à direita */
}

nav ul li a {
    text-decoration: none;
    /* Remove a decoração do link */
    color: rgb(0, 0, 0);
    /* Cor do texto */

}


/* Destaque */
main {
    height: 70vh;
    /* Altura do destaque */
    background: url(./fotos/manjericao.jpeg);
    /* Imagem de fundo */
    background-size: cover;
    /* Cobertura total */
    background-position: center;
    /* Centraliza a imagem */
    color: #ffffff;
    /* Cor do texto */
    display: flex;
    /* Cria um layout flexível */
    flex-direction: column;
    /* Direção dos itens */
    justify-content: center;
    /* Alinhamento ao centro */
    text-align: center;
    /* Alinhamento de texto ao centro */
}

main h1 {
    font-size: 2em;
    /* Tamanho da fonte */
    text-shadow: #000 0.05em 0.05em 0.05em;
    /* Sombra do texto */
}